<!-- Footer -->
<div class="bg-white border-top-2 mt-auto">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-70 brand mb-24pt">
            <img class="brand-icon" src="images/logo/black-70@2x.png" width="30" alt="Luma"> Luma
        </p>
        <p class="measure-lead-max text-50 small mr-8pt">Luma is a beautifully crafted user interface for modern
            Education Platforms, including Courses & Tutorials, Video Lessons, Student and Teacher Dashboard,
            Curriculum Management, Earnings and Reporting, ERP, HR, CMS, Tasks, Projects, eCommerce and more.
        </p>
        <p class="mb-8pt d-flex">
            <a href="" class="text-70 text-underline mr-8pt small">Terms</a>
            <a href="" class="text-70 text-underline small">Privacy policy</a>
        </p>
        <p class="text-50 small mt-n1 mb-0">Copyright 2019 &copy; All rights reserved.</p>
    </div>
</div>
<!-- // END Footer -->