<!--====== Header Start ======-->
<header class="header-area">
    <div class="header-top">
        <div class="container">
            <div class="header-top-wrapper d-flex flex-wrap justify-content-sm-between">
                <div class="header-top-left mt-10">
                    <ul class="header-meta">
                        <li><a href="mailto://infoedumate@example.com">mclass@company.com</a></li>
                    </ul>
                </div>
                <form id="frmLogout" method="POST" action="/account/log-out"></form>
                <div class="header-top-right mt-10 ">
                    <div class="mr-4 header-link">
                        <a href="/cart" class="mr-3">
                            <i class="fa fa-shopping-cart"></i>
                            <span class="badge badge-primary rounded-circle">3</span>
                        </a>
                        {{#if isAuth}}
                        <div class="btn-group drop-left">
                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="http://www.prepbootstrap.com/Content/images/template/menucartdropdown/item_1.jpg"
                                    class="rounded-circle" width="32px" height="32px">
                            </a>

                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/profile">My profile</a>
                                <a class="dropdown-item" href="/learning">My learning</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript: $('#frmLogout').submit();">Log out</a>
                            </div>
                        </div>
                        {{else}}
                        <a class="login" href="/account/sign-in">Login</a>
                        <a class="register" href="/account/sign-up">Register</a>
                        {{/if}}

                    </div>

                </div>
            </div>
        </div>
    </div>

    {{!-- Cart list --}}


    <div id="navigation" class="navigation navigation-landscape">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="header-logo">
                        <a href="/"><img src="images/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 position-static">
                    <div class="nav-toggle"></div>
                    <nav class="nav-menus-wrapper">
                        <ul class="nav-menu">
                            <li>
                                <a class="active" href="/">Home</a>
                            </li>
                            <li>
                                <a href="/courses">Courses</a>
                            </li>
                            <li>
                                <a href="/events">Events</a>
                            </li>
                            <li>
                                <a href="/teachers">Teachers</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                                <ul class="nav-dropdown nav-submenu">
                                    <li><a href="blog.html">Blog </a></li>
                                    <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                    <li><a href="blog-right-sideba.html">Blog Right Sidebar</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 position-static">
                    <div class="header-search">
                        <form action="#">
                            <input type="text" placeholder="Search">
                            <button><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--====== Header Ends ======-->