<!-- partial:_head-rtl.html -->
<!-- partial -->
<!-- partial:_sidebar-rtl.html -->
<!-- partial -->
<div class="has-sidebar-right">
    <!-- partial:_searchBar-rtl.html -->
    <!-- partial -->
    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle">
                    <i></i>
                </a>
            </div>
            <!-- partial:_navbar-rtl.html -->
            <!-- partial -->
        </div>
    </div>
</div>