<div class="page has-sidebar-left">
    <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-package"></i>
                        Courses
                    </h4>
                </div>
            </div>
            <div class="row">
                <ul class="nav responsive-tab nav-material nav-material-white">
                    <li>
                        <a class="nav-link" href="/course"><i class="icon icon-list"></i>All
                            Courses</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="/course/add"><i class="icon icon-plus-circle"></i> Add New
                            Course</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
            <form id="needs-validation" novalidate enctype="multipart/form-data" method="POST" action="/course/add">
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Course Image</label>
                                <input type="file" class="form-control" required name="courseImage">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Course Name</label>
                                <input type="text" class="form-control" required name="courseName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Catogory</label>
                                <select id="category" class="custom-select form-control" required name="categoryId">
                                    <option value="">Select Category</option>
                                    {{#each categories}}
                                    <option value="{{id}}">{{categoryName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Short Description</label>
                                <input type="text" class="form-control" required name="shortDesc">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Tuition</label>
                                <input type="number" class="form-control" required min="0" placeholder="$" name="tuition">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Promotion info</label>
                                <input type="text" class="form-control" name="promotionInfo">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label>Detail Description</label>
                                <textarea id="mytextarea" name="detailDesc"></textarea>
                            </div>
                        </div>
                        <script>
                            (function () {
                                "use strict";
                                window.addEventListener("load", function () {
                                    var form = document.getElementById("needs-validation");
                                    form.addEventListener("submit", function (event) {
                                        if (form.checkValidity() == false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add("was-validated");
                                    }, false);
                                }, false);
                            }());
                        </script>
                    </div>
                    <div class="col-md-3">
                        <div class="card mt-4">
                            <h6 class="card-header white">Publish Box</h6>
                            <div class="card-body text-success">

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customControlValidation1"
                                        required>
                                    <label class="custom-control-label" for="customControlValidation1">Are you sure?</label>
                                    <div class="invalid-feedback">Please confirm</div>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <button class="btn btn-primary" type="submit">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>