{{#section 'body'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script src="services/validator.js"></script>
{{/section}}

<!--====== Page Banner Start ======-->

<section class="page-banner">
    <div class="page-banner-bg bg_cover" style="background-image: url(images/page-banner.jpg);">
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="title">Register</h2>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== Sign up Start ======-->
<section class="login-register mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-content">
                    <h4 class="title mb-4">Create New Account</h4>

                    <div class="form-wrapper">
                        <form class="form" id="frmRegister" method="POST">
                            <!-- Firstname -->
                            <div class="form-control-group">
                                <label>First name</label>
                                <input type="text" id="firstName" name="firstName"
                                    placeholder="Enter your first name..." />
                                <i class="fa fa-check-circle"></i>
                                <i class="fa fa-exclamation-circle"></i>
                                <small>Error Message</small>
                            </div>

                            <!-- Lastname -->
                            <div class="form-control-group">
                                <label>Last name</label>
                                <input type="text" name="lastName" id="lastName"
                                    placeholder="Enter your last name..." />
                                <i class="fa fa-check-circle"></i>
                                <i class="fa fa-exclamation-circle"></i>
                                <small>Error Message</small>
                            </div>

                            <!-- Email -->
                            <div class="form-control-group">
                                <label>Email</label>
                                <input type="text" id="email" name="email" placeholder="minhhung.it99@gmail.com" />
                                <i class="fa fa-check-circle"></i>
                                <i class="fa fa-exclamation-circle"></i>
                                <small>Error Message</small>
                            </div>

                            <!-- Date of birth -->
                            <div class="form-control-group">
                                <label>Date of birth:</label>
                                <input type="text" id="txtDOB" name="dob" placeholder="Date of birth..." />
                                <i class="fa fa-check-circle"></i>
                                <i class="fa fa-exclamation-circle"></i>
                                <small>Error Message</small>
                            </div>

                            <!-- Username -->
                            <div class="form-control-group">
                                <label>Username</label>
                                <input type="text" id="username" name="username" placeholder="Enter your username..." />
                                <i class="fa fa-check-circle"></i>
                                <i class="fa fa-exclamation-circle"></i>
                                <small>Error Message</small>
                            </div>

                            <!-- Password-->
                            <div class="form-control-group">
                                <label>Password</label>
                                <input type="password" id="password" name="password"
                                    placeholder="Enter your password..." />
                                <i class="fa fa-check-circle"></i>
                                <i class="fa fa-exclamation-circle"></i>
                                <small>Error Message</small>
                            </div>

                            <!-- Password2 -->
                            <div class="form-control-group">
                                <label>Confirm password</label>
                                <input type="password" id="password2" name="password2" placeholder="Confirm password" />
                                <i class="fa fa-check-circle"></i>
                                <i class="fa fa-exclamation-circle"></i>
                                <small>Error Message</small>
                            </div>

                            <button class="main-btn w-100" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Login Ends ======-->