<!--====== Login Start ======-->
<section class="login-register my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-content">
                    <h4 class="title">Login to Your Account</h4>
                    <div class="login-register-form">
                        <form  method="POST">
                            <div class="single-form">
                                <label>Username*</label>
                                <input type="username" name="username" placeholder="Enter your username">
                            </div>
                            <div class="single-form">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="Enter your password">
                            </div>
                            <div class="single-form">
                                <button class="main-btn btn-block" type="submit" >Login</button>
                            </div>
                            <div class="single-form d-flex justify-content-between">
                                <div class="checkbox">
                                    <input type="checkbox" id="remember">
                                    <label for="remember"><span></span> Remember Me</label>
                                </div>
                                <div class="forget">
                                    <a href="#">Lost Your Password</a>
                                </div>
                            </div>
                            <div class="single-form">
                                <label>You don't have account ?</label>
                                <a href="/account/sign-up" class="main-btn main-btn-2 btn-block">Create Account Now</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Login Ends ======-->