<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signup</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
        rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="vendor/spinkit.css" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="css/material-icons.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="css/fontawesome.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="css/preloader.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="css/app.css" rel="stylesheet">

    <!-- Flatpickr -->
    <link type="text/css" href="css/flatpickr.css" rel="stylesheet">
    <link type="text/css" href="css/flatpickr-airbnb.css" rel="stylesheet">

    <!-- DateRangePicker -->
    <link type="text/css" href="vendor/daterangepicker.css" rel="stylesheet">

</head>


<body class="layout-default layout-login-image">

    <div class="layout-login-image__overlay"
        style="background-image: url(images/photodune-4161018-group-of-students-m.jpg);">
        <div class="fullbleed bg-white" style="opacity: .2"></div>
    </div>

    <div class="layout-login-image__form bg-white" data-perfect-scrollbar>
        <div class="d-flex justify-content-center mt-2 mb-5 navbar-light">
            <a href="/" class="navbar-brand flex-column mb-2 align-items-center mr-0" style="min-width: 0">
                <span class="avatar avatar-sm navbar-brand-icon mr-0">
                    <span class="avatar-title rounded bg-primary"><img src="images/illustration/student/128/white.svg"
                            alt="logo" class="img-fluid" /></span>
                </span>
                MClass
            </a>
        </div>
        <h4 class="m-0">Sign up!</h4>
        <p class="mb-4">Create an account with MClass</p>

        <form action="" method="post" id="frmSignup">

            {{!-- Firstname + Lastname --}}
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label class="text-label" for="firstName">First Name:</label>
                    <div class="input-group input-group-merge">
                        <input id="firstName" name="firstName" type="text" class="form-control form-control-prepended"
                            placeholder="John Doe">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group  col-12 col-md-6">
                    <label class="text-label" for="lastName">Last Name:</label>
                    <div class="input-group input-group-merge">
                        <input id="lastName" name="lastName" type="text" required=""
                            class="form-control form-control-prepended" placeholder="John Doe">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="far fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Username --}}
            <div class="form-group">
                <label class="text-label" for="username">Username:</label>
                <div class="input-group input-group-merge">
                    <input id="username" name="username" type="text" class="form-control form-control-prepended"
                        placeholder="John Doe">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-user"></span>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Email --}}
            <div class="form-group">
                <label class="text-label" for="email">Email Address:</label>
                <div class="input-group input-group-merge">
                    <input id="email" name="email" type="email" class="form-control form-control-prepended"
                        placeholder="john@doe.com">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-envelope"></span>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Date of birth --}}
            <div class="form-group">
                <label class="text-label">Date</label>
                <input id="flatpickrSample01" name="dob" type="hidden" class="form-control flatpickr-input"
                    data-toggle="flatpickr" value="today">
            </div>
            {{!-- Password --}}
            <div class="form-group">
                <label class="text-label" for="password">Password:</label>
                <div class="input-group input-group-merge">
                    <input id="password" name="password" type="password" class="form-control form-control-prepended"
                        placeholder="Enter password">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-key"></span>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Confirm Password --}}
            <div class="form-group">
                <label class="text-label" for="confirmPassword">Confirm Password:</label>
                <div class="input-group input-group-merge">
                    <input id="confirmPassword" name="confirmPassword" type="password"
                        class="form-control form-control-prepended" placeholder="Enter confirm password">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="far fa-key"></span>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- Accept condition --}}
            <div class="form-group mb-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" checked="" class="custom-control-input" id="terms" />
                    <label class="custom-control-label" for="terms">I accept <a href="#">Terms and
                            Conditions</a></label>
                </div>
            </div>

            {{!-- Button create account --}}
            <div class="form-group text-center">
                <button class="btn btn-primary mb-2" type="submit">Create Account</button><br>
                <a class="text-body text-underline" href="login-image.html">Have an account? Login</a>
            </div>
        </form>
    </div>
    <script>
        $("#frmSignup").on('submit', e => {
            e.preventDefault();

            const username = $('username').val();
            if (username.length === 0) {
                alert('Invalid data');
                return;
            }

            $.getJSON(`/is-available?user=${username}`);
            if (data) {
                $('#frmSignup').off('submit').submit();
            } else {
                alert('Username is exist');
            }
        })
    </script>
    <!-- jQuery -->
    <script src="vendor/jquery.min.js"></script>

    <!-- Flatpickr -->
    <script src="vendor/flatpickr/flatpickr.min.js"></script>
    <script src="js/flatpickr.js"></script>

    <!-- DateRangePicker -->
    <script src="vendor/moment.min.js"></script>
    <script src="vendor/daterangepicker.js"></script>
    <script src="js/daterangepicker.js"></script>



    <!-- Bootstrap -->
    <script src="vendor/popper.min.js"></script>
    <script src="vendor/bootstrap.min.js"></script>

    <!-- Perfect Scrollbar -->
    <script src="vendor/perfect-scrollbar.min.js"></script>

    <!-- DOM Factory -->
    <script src="vendor/dom-factory.js"></script>

    <!-- MDK -->
    <script src="vendor/material-design-kit.js"></script>

    <!-- App JS -->
    <script src="js/app.js"></script>

    <!-- Preloader -->
    <script src="js/preloader.js"></script>

</body>

</html>