{{#section 'head'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">

{{/section}}
{{#section 'body'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>

<script>
    $('#frmRegister').on('submit', e => {
        e.preventDefault();

        const username = $('#username').val();

        $.getJSON(`/account/is-available?user=${username}`, function (data) {
            if (data) {
                $('#frmRegister').off('submit').submit();
            }
            else
                alert('Invalid data!')
        })
    })

    $('#txtDOB').datetimepicker({
        format: 'd/m/Y',
        timepicker: true,
        mask: true,
    });
</script>
{{/section}}

<!--====== Page Banner Start ======-->

<section class="page-banner">
    <div class="page-banner-bg bg_cover" style="background-image: url(images/page-banner.jpg);">
        <div class="container">
            <div class="banner-content text-center">
                <h2 class="title">Register</h2>
            </div>
        </div>
    </div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== Sign up Start ======-->
<section class="login-register mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="login-register-content">
                    <h4 class="title">Create New Account</h4>

                    <div class="login-register-form">
                        <form action="" method="POST" id="frmRegister">
                            <div class="single-form">
                                <label>First Name *</label>
                                <input type="text" id="firstName" name="firstName">
                            </div>
                            <div class="single-form">
                                <label>Last Name *</label>
                                <input type="text" id="lastName" name="lastName">
                            </div>
                            <div class="single-form">
                                <label >DOB</label>
                                <input type="text" class="form-control" id="txtDOB" name="dob">
                            </div>
                            <div class="single-form">
                                <label>Email address *</label>
                                <input type="email" id="email" name="email">
                            </div>
                            <div class="single-form">
                                <label>Username *</label>
                                <input type="text" id="username" name="username">
                            </div>
                            <div class="single-form">
                                <label>Password</label>
                                <input type="password" id="password" name="password">
                            </div>
                            <div class="single-form">
                                <label>Confirm Password</label>
                                <input type="password" id="confirmPassword">
                            </div>
                            <div class="single-form">
                                <div class="checkbox">
                                    <input type="checkbox" id="remember">
                                    <label for="remember"><span></span>Receive Offers From Our Partners</label>
                                </div>
                            </div>
                            <div class="single-form">
                                <button class="main-btn btn-block">
                                    Register
                                </button>
                            </div>

                            <div class="single-form">
                                <label>Already have an account?</label>
                                <a href="/account/sign-in" class="main-btn main-btn-2 btn-block">Log in instead!</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--====== Login Ends ======-->