<div class="container">
    <div class="cart">
        <div class="cart-wrapper">
            <div class="row">
                <div class="col-3 cart-checkout">
                    <p>Total</p>
                    <p class="cart-checkout-total">$50.00</p>
                </div>
            </div>
        </div>
    </div>
</div>