<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>404 Not found</title>

    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700%7CRoboto:400,500%7CExo+2:600&display=swap"
        rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="vendor/spinkit.css" rel="stylesheet">

    <!-- Perfect Scrollbar -->
    <link type="text/css" href="vendor/perfect-scrollbar.css" rel="stylesheet">

    <!-- Material Design Icons -->
    <link type="text/css" href="css/material-icons.css" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link type="text/css" href="css/fontawesome.css" rel="stylesheet">

    <!-- Preloader -->
    <link type="text/css" href="css/preloader.css" rel="stylesheet">

    <!-- App CSS -->
    <link type="text/css" href="css/404.css" rel="stylesheet">

</head>

<body>
    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="col-sm-10 col-sm-offset-1  ">
                        <div class="four_zero_four_bg">
                            <h2 class="text-center">404 not found!</h2>
                        </div>

                        <div class="contant_box_404 page_404_container">
                            <h3 class="h2">
                                Look like you're lost
                            </h3>

                            <p class="mb-5">The page you are looking for not avaible!</p>

                            <a href="/" class="link_404">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>