<aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas'>
    <section class="sidebar">
        <div class="w-80px mt-3 mb-3 ml-3">
            MClass
        </div>
        <div class="relative">
            <a data-toggle="collapse" href="#userSettingsCollapse" role="button" aria-expanded="false"
                aria-controls="userSettingsCollapse"
                class="btn-fab btn-fab-sm absolute fab-right-bottom fab-top btn-primary shadow1 ">
                <i class="icon icon-cogs"></i>
            </a>
            <div class="user-panel p-3 light mb-2">
                <div>
                    <div class="float-left image">
                        <img class="user_avatar" src="/img/dummy/u1.png" alt="User Image">
                    </div>
                    <div class="float-left info">
                        <h6 class="font-weight-light mt-2 mb-1">{{this.currentUser.firstName}}
                            {{this.currentUser.lastName}}</h6>
                        <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="collapse multi-collapse" id="userSettingsCollapse">
                    <form action="/user/logout" method="post" id="frmLogout">
                        <div class="list-group mt-3 shadow">
                            <a href="index.html" class="list-group-item list-group-item-action ">
                                <i class="mr-2 icon-umbrella text-blue"></i>Profile
                            </a>
                            <a href="javascript: $('#frmLogout').submit();"
                                class="list-group-item list-group-item-action"><i
                                    class="mr-2 icon-cogs text-yellow"></i>Logout</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header"><strong>MAIN NAVIGATION</strong></li>
            <li class="treeview"><a href="/">
                    <i class="icon icon icon-home blue-text s-18"></i>Home
                </a>
            </li>
            <li class="treeview"><a href="#">
                    Courses<i class="icon icon-angle-left s-18 pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/course"><i class="icon icon-circle-o"></i>All Courses</a>
                    </li>
                    {{#ifEquals this.currentUser.permission 1}}
                    <li><a href="/course/add"><i class="icon icon-add"></i>Add
                            New Course</a>
                    </li>
                    {{/ifEquals}}
                </ul>
            </li>
            {{#ifEquals this.currentUser.permission 0}}
            <li class="treeview"><a href="#">Categories<i class="icon icon-angle-left s-18 pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/category"><i class="icon icon-circle-o"></i>All Categories</a>
                    </li>
                    <li><a href="/category/add"><i class="icon icon-add"></i>Add New Category</a>
                    </li>
                </ul>
            </li>
            <li class="treeview"><a href="#">Users<i class="icon icon-angle-left s-18 pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/user"><i class="icon icon-circle-o"></i>All Users</a>
                    </li>
                    <li><a href="/user/add"><i class="icon icon-add"></i>Add New User</a>
                    </li>
                </ul>
            </li>
            {{/ifEquals}}
        </ul>
    </section>
</aside>

<div class="has-sidebar-left">
    <div class="sticky">
        <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
            <div class="relative">
                <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle">
                    <i></i>
                </a>
            </div>
        </div>
    </div>
</div>