<div class="page has-sidebar-left">
    <header class="blue accent-3 relative">
        <div class="container-fluid text-white">
            <div class="row p-t-b-10 ">
                <div class="col">
                    <h4>
                        <i class="icon-package"></i>
                        Change Password
                    </h4>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid animatedParent animateOnce my-3">
        <div class="animated fadeInUpShort">
            {{#if err_message}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{err_message}}
            </div>
            {{/if}}
            <form id="needs-validation" novalidate method="POST" action="/user/changePassword">
                <div class="card no-b  no-r">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-8">
                                <div class="form-row">
                                    <div class="form-group col-6 m-0">
                                        <label class="col-form-label s-12">Old password</label>
                                        <input type="password" class="form-control" required name="old-password">
                                        <div class="invalid-feedback">
                                            Please provide a input.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-6 m-0">
                                        <label class="col-form-label s-12">New password</label>
                                        <input type="password" class="form-control" required name="new-password">
                                        <div class="invalid-feedback">
                                            Please provide a input.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-6 m-0">
                                        <label class="col-form-label s-12">Confirm password</label>
                                        <input type="password" class="form-control" required name="confirm-new-password">
                                        <div class="invalid-feedback">
                                            Please provide a input.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            (function () {
                                "use strict";
                                window.addEventListener("load", function () {
                                    var form = document.getElementById("needs-validation");
                                    form.addEventListener("submit", function (event) {
                                        if (form.checkValidity() == false) {
                                            event.preventDefault();
                                            event.stopPropagation();
                                        }
                                        form.classList.add("was-validated");
                                    }, false);
                                }, false);
                            }());
                        </script>
                    </div>
                    <hr>
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary btn-lg"><i class="icon-save mr-2"></i>Save
                            Change</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>